// .site-header {
//     position: fixed;
//     top: 0px;
//     z-index: 999;
//     background-color: var(--color-primary);
// }

.introduce {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 9rem 16rem 7rem;
}

.heading-primary {
    @include visually-hidden;
}

.projects {
    font-family: 'Inter', sans-serif;
}
