// HEADER:

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__logo-text {
        font-size: 6rem;
        text-decoration: none;
        color: var(--color-black);
    }
}

// SITE-NAVIGATION:

.site-nav {
    list-style: none;
    display: flex;

    &__item {
        font-size: 2.1rem;
        &:not(:last-child) {
            margin-right: 3.2rem;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: var(--color-black);
    }

    &__link:hover {
        text-decoration: underline;
    }
}

// HEADING-SECONDARY

.heading-secondary {
    font-size: 6rem;
    line-height: 97.2%;
}

// INTRODUCE:

.greeting {
    margin-top: 20rem;
    display: flex;

    &__heading {
        flex: 0 0 30%;
        position: relative;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='34' height='39' viewBox='0 0 34 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2188 0.181885H14.4177V29.2103L3.31965 18.1123L0.0327148 21.4361L16.8182 38.2217L33.6407 21.4361L30.2799 18.1123L19.2188 29.2103V0.181885Z' fill='%23181717'/%3E%3C/svg%3E");
            position: absolute;
            top: 25rem;
        }
    }

    &__text {
        color: var(--color-grey);
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 117%;
        margin-left: 22rem;
        margin-right: 6.4rem;
        margin-top: 6rem;

        flex: 1;
        align-self: center;
    }
}

// PROJECT:

.project {
    padding: 11.4rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--color-black);

    &:first-child {
        padding-top: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 4rem;
    }

    &__heading {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }

    &__description {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
    }

    &__instruments {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--color-grey);
        max-width: 34rem;
        margin: auto 0;
    }

    &__preview-image {
        display: block;
        max-width: 57%;
        width: 100%;
    }

    &__btn-container {
        margin-top: auto;
    }
}

// BTN-INLINE:

.btn-inline {
    color: var(--color-black);
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;

    &:after {
        content: '';

        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-width: 0 0 1px;
        border-style: solid;
    }

    & span {
        transition: 0.35s;
        font: inherit;
    }

    &:hover {
        color: var(--color-grey-dark-1);
        text-decoration: none;

        span {
            margin-left: 4px;
        }
    }
}

// FOOTER:

.site-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8.4rem;
    font-size: 2.1rem;

    &__legal {
        text-transform: uppercase;
        color: #3e3644;
    }

    &__socials {
        :not(:last-child) {
            margin-right: 3.2rem;
        }
    }

    &__social-link:link,
    &__social-link:visited {
        text-decoration: none;
        color: var(--color-black);
    }

    &__social-link:hover {
        text-decoration: underline;
    }
}
